:root {
    --navigation-height: 40px;  /* navigation要素の高さ */
    --navigation-li-gap: 10px;
}

.custom-navigator {

    display: inline-flex;
    position: fixed;
    flex-direction: row;
    column-gap: var(--navigation-li-gap);
    padding: 0 var(--navigation-li-gap);
    background-color: darkblue;
    width: 100%;
    height: var(--navigation-height);
    overflow-x: scroll;
    top: 0;
    left: 0;
    align-items: center;

    & li {
        border-radius: 15px;
        border: 2px whitesmoke solid;
        background-color: #33AAFF;
        padding: 5px 10px;
        line-height: 15px;
        font-size: 15px;
        color: white;
        font-weight: 500;
        min-width: 80px;
    }
}

#root {
    /* navigator分の高さをpaddingで確保 */
    padding-top: var(--navigation-height);
}